.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.appHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoppingCartIcon {
  font-size: 30px;
  margin-right: 16px;
}

.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.appFooter {
  height: 60px;
  background-color: black;
}

.itemCard,
.itemCardBadge {
  margin: 8px;
}

.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}
